{
  "application": "Java Vulnerable Lab",
  "branches": ["master"],
  "bugTracker": "JIRA",
  "jira": {
	"project": "CxDemo",
	"issue-type": "Bug",
	"open-status": ["Open","Reopen"],
	"closed-status": "Done",
	"open-transition": "Reopen Issue",
	"close-transition": "Close Issue",
	"close-transition_field": "resolution",
	"close-transition_value": "Done",
	"priorities": {
	  "High": "High",
	  "Medium": "Medium",
	  "Low": "Low"
	},
	"fields": [
	  {
		"type": "result",
		"name": "application",
		"jira-field-name": "Application",
		"jira-field-type": "label"
	  },
	  {
		"type": "result",
		"name": "category",
		"jira-field-name": "Category",
		"jira-field-type": "label"
	  }
	]
  }
}
